.auth-wrapper {
  padding: 10px;
  .logo {
    max-width: 200px;
    margin: 20px auto 30px;
  }
  label {
    padding: 8px 12px 4px 0;
    font-weight: 500;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    color: #33475b;
  }
  .auth-action {
    display: flex;
    padding: 0 10px 20px;
    justify-content: flex-end;
    flex-direction: column;
    a {
      font-size: 12px;
      margin: 2px 0;
    }
  }

  .policy {
    font-size: 12px;
    margin: 40px 10px;
    text-align: center;
    line-height: 1.4;
    color: #848181;
  }

  .form-action {
    button {
      width: 100%;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
      font-weight: 400;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.15s ease-out;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      background-color: #03a9f4;
      border-color: #03a9f4;
    }
  }
}
