.project-information {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 2px;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 2px 0px 4px #00000059;
  .back-button {
    flex: 0 0 40px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding: 8px 20px;
      mat-icon {
        font-size: 40px;
      }
    }
  }
  .project {
    width: 100%;
    .project-name {
      font-size: 18px;
      margin-bottom: 2px;
    }
    .project-owner {
      font-size: 12px;
      color: #777777;
    }
  }
  .select-task {
    select {
      width: 100%;
      margin: 5px 0px;
      padding: 5px 5px;
      background: #ececec;
      border: 0;
      font-size: 14px;
      outline: 0;
      border: 1px solid #cbd6e2;
      font-size: 14px;
      transition: all 0.15s ease-out;
      background-color: #f5f8fa;
      border-radius: 2px;
    }
  }
}

.on-off-time {
  padding: 10px;
  display: flex;
  align-items: center;
  .current-session {
    flex: 0 0 70%;
    h2 {
      margin: 6px 0;
      font-size: 26px;
      font-weight: 500;
    }
    h4 {
      margin: 5px 0;
      color: #797979;
      font-size: 12px;
    }
  }
  .toggle-on-off {
    display: flex;
    justify-content: center;
    flex: 0 0 30%;
  }
}

.working-memo,
.latest-screen-capture {
  padding: 10px;
  label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
  }
  .image-capture {
    border: 1px solid #dcdada;
    a {
      width: 100%;
      img {
        height: 150px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

.analytic-figure {
  display: flex;
  padding: 10px 10px;
  &  > div {
    flex: 0 0 50%;
  }
  h5 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
  }
  h6 {
    margin: 0;
    font-size: 12px;
    margin-top: 3px;
    color: #848484;
  }
  .week-time {
    text-align: right;
  }
}

.external-links {
  padding: 5px 20px 12px;
  display: flex;
  justify-content: space-between;
}
