/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("./theme/normalize.scss");

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #0091ae;
  cursor: pointer;
  label {
    cursor: pointer;
  }
}

.body-container {
  width: 350px;
  height: 600px;
  border: 1px solid #dadada;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 100%;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
  padding: 9px 10px;
  border-radius: 3px;
  border: 1px solid #cbd6e2;
  font-size: 14px;
  transition: all 0.15s ease-out;
  background-color: #f5f8fa;
  color: #33475b;
  display: block;
  height: 40px;
  line-height: 22px;
  text-align: left;
  width: 100%;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  border-color: rgba(0, 208, 228, 0.5);
  box-shadow: 0 0 4px 1px rgb(0 208 228 / 30%), 0 0 0 1px #00d0e4;
  outline: 0;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 95%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

mat-form-field {
  width: 100%;
}

.mat-icon {
  font-size: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.toggle-on-off {
  .mat-slide-toggle-bar {
    height: 30px;
    width: 70px;
    border-radius: 20px;
    background: #c3c3c3;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background: #4caf50;
  }

  .mat-slide-toggle-thumb {
    height: 28px;
    width: 28px;
    top: 4px;
    left: 1px;
    position: relative;
    background: #fbfbfb !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(40px, 0, 0) !important;
  }

  .mat-slide-toggle .mat-slide-toggle-ripple {
    display: none;
  }
}

.options {
  height: 40px;
  background: #f5f8fa;
  display: flex;
  align-items: center;
  ul {
    padding-left: 0;
    list-style: none;
    margin: 6px 10px;
    display: flex;
    li {
      a {
        display: flex;
        padding: 8px 4px;
        align-items: center;
        label {
          margin: 0px 6px;
        }
      }
    }
  }
}
